PORT=8000

MONGO_URI=mongodb://db:27017/medium

JWT_SECRET=mysecret
JWT_REFRESH_SECRET=myrefreshsecret

DEV=true

CLIENT_URL=http://localhost:5173

email=test@gmail.com
password=test123

clientid=dummy
clientsecret=dummy

redirect_url=http://localhost:8000/oauth/redirect